body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

section {
    padding: 20px;
    background: #ffffff;
    margin: 20px 0;
    border-radius: 5px;
}

.card-verification {
    display: inline-flex;
    margin-bottom: 20px;
}

nav {
    margin: 20px 0;
    display: inline;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

footer {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

#card-logo {
    width: auto;
    height: 64px;
}

#card-image {
    margin-right: 15px;
}